/*公用*/
body {background: #fff;margin-top: 85px;}
.wp {width: 1200px;margin: 0 auto;}
.cl {zoom: 1;}
.cl:after {content: '\20';display: block;height: 0;clear: both;visibility: hidden;}
.z {float: left;}
.y {float: right;}
.tpt-con1 {margin: 10px;}
.tpt-con2 {margin: 10px 10px 10px 15px;}
.tpt-bottom{border-bottom: 1px solid #f0f0f0;margin-bottom: 30px;}
.tpt-pat-85 {padding-top: 85px;}
.tpt-mat-30 {margin-top: 30px;}
.tpt-mat-20 {margin-top: 20px;}
/*NET*/

/*头部*/
.tpt-header .layui-nav {float: left;background-color: rgba(255, 255, 255, 0);border-radius: 0px;padding: 0;}
.tpt-header .layui-nav .layui-nav-item {line-height: 65px;}
.layui-nav-child {top: 75px;}
.tpt-header .layui-nav .layui-nav-item a {padding: 0 25px;color: #c2c2c2;font-size: 14px;opacity: 1;}
.tpt-header .layui-nav .layui-nav-item dd a {color: #333;font-size: 14px;}
.tpt-header .layui-nav .layui-nav-item dd a:hover {color: #333;}
.tpt-header .layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {color: #fff;}
.tpt-header .layui-nav .layui-nav-more {top: 30px;opacity: 1;}
.tpt-header .layui-nav .layui-nav-mored {top: 24px;}
.tpt-header .layui-nav-tree .layui-nav-item a:hover, .layui-nav-tree .layui-this a {color: #fff;background: #393d49;}
.tpt-header .layui-nav-tree .layui-nav-item  dd a {color: #fff;}
.tpt-header .layui-nav-tree {width: 100%;right: 0;top: 65px;}
.tpt-header .layui-nav-tree .layui-nav-item {line-height: 50px;background: #000;}
.tpt-header .layui-nav-tree .layui-nav-item dd a:hover {color: #fff;}
.tpt-header .layui-nav-tree .layui-nav-item a {height: 50px;line-height: 50px;padding: 0 20px;font-size: 14px;color: #fff;}
.tpt-header .layui-nav-tree .layui-nav-more {top: 23px;right: 13px;}
.tpt-header .layui-nav-tree .layui-nav-itemed .layui-nav-more {top: 16px;}
.tpt-header .layui-nav-tree .layui-nav-bar {width: 0px;background-color: rgba(255, 255, 255, 0);}
.tpt-header .layui-nav-tree .layui-nav-itemed>a, .tpt-header .layui-nav-tree .layui-nav-title a, .tpt-header .layui-nav-tree .layui-nav-title a:hover {background-color: #393d49 !important;color: #fff !important;}
.tpt-header .layui-nav .layui-this:after, .tpt-header .layui-nav-bar, .tpt-header .layui-nav-tree .layui-nav-itemed:after {top: 61px!important;height: 4px;background-color: #5FB878;}
.tpt-header .layui-nav-tree .layui-nav-itemed {background: #222;}
.tpt-header .layui-nav .layui-nav-child dd.layui-this a, .tpt-header .layui-nav-child dd.layui-this {background-color: #5FB878;color: #fff;}
.tpt-addtop{position:fixed;z-index:999;right:10px;bottom:20px}
.tpt-add{width:50px;height:50px;background:rgba(0,0,0,.39);text-align:center}
#menu_button{position:relative;z-index:999;width:50px;height:50px;background:rgba(0,0,0,.39);color:#FFF;margin-bottom:5px;text-align:center}
#menu_list{display:none;position:absolute;z-index:99;width:100%;right:0}
.tpt-header {background: #393d49;width: 100%;height: 65px;line-height: 65px;position: fixed;z-index: 99999;left: 0;top: 0;}
.tpt-header2 {background: #393d49;}
.tpt-logo img{float: left;margin: 0 40px 0 10px;}
.tpt-logo{float: left;}
.tpt-status{float: right;position: relative;margin-right: 10px;}
.tpt-status a{float: left;color: #c2c2c2;height: 65px;margin-left: 15px;}
.tpt-avatar img {width: 42px;height: 42px;border-radius: 100%;}
.tpt-status .tpt-avatar {margin-left: 0px;}
.tpt-status em {font-style: normal;color:#FF7200;}
.tpt-status .ava {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 80px;}
.tpt-status .avb {margin-left: 20px;}
.tpt-message{position:absolute;left:30px;top:-15px;margin-left: 0 !important;height: 0 !important;}
.tpt-message i{position:absolute;color:#FF5722;font-size:18px}
.tpt-message span{color:#fff!important;font-size:12px;position:absolute;width:18px;text-align:center;top:-3px}
.tpt-forum{margin: 10px;}
/*NET*/

/*尾部*/
.tpt-footer{width:100%;text-align:center;padding:30px 0;background:#393D49}
.tpt-footer p,.tpt-footer p a{font-size:14px;font-weight:100;color:#fff}
.tpt-footer .pipe{margin:0 4px 0 5px;color:#fff}
.tpt-footer img{margin:-5px 5px 0 0}
/*NET*/

/*分页*/
.pages{padding: 0;}
.pagination{display:inline-block;padding-left:0;border-radius:4px;float:right}
.pagination li{display:inline}
.pagination li a,.pagination li span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;color:#393D49;background:#fff;margin:0 0 0 8px;border:1px solid #eee}
.pagination li a:hover{color:#fff;background:#1E9FFF}
.pagination .active span{background:#1E9FFF;color:#fff}
.pagination .disabled{display:none}
/*NET*/

/*字体*/
@font-face{font-family:iconfont;src:url(../fonts/iconfont.eot);src:url(../fonts/iconfont.eot?#iefix) format('embedded-opentype'),url(../fonts/iconfont.woff) format('woff'),url(../fonts/iconfont.ttf) format('truetype'),url(../fonts/iconfont.svg#iconfont) format('svg')}
.iconfont{font-family:iconfont!important;font-size:1pc;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
/*NET*/

/*响应式布局*/
.tpt-wp {width: 100%;margin: 0 auto;}
.tpt-md-4 {float: left;}
.tpt-md-3 {float: left;}
.tpt-md-2 {float: left;}
.tpt-md-1 {width: 100%;}

@media only screen and (max-width: 767px) {
.tpt-status a {margin-left: 0px;}
.tpt-logo img {margin: 3px 0 0 10px;width: 200px;}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
.tpt-status a {margin-left: 0px;}
.tpt-logo img {margin: 3px 0 0 10px;width: 200px;}

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
#menu_list {position: relative;}
}

@media only screen and (min-width: 1200px) {
#menu_list {position: relative;}
}

@media only screen and (max-width: 767px) {
    .tpt-md-4 {width: 50%;}
	.tpt-md-3 {width: 100%;}
	.tpt-md-2 {width: 100%;}
	.tpt-ml-3 {display: none;}
	.tpt-mr-3 {display: none;}
	.tpt-ml-7 {width: 100%;}
	.tpt-mr-7 {width: 100%;}
	.tpt-none-768 {display: none !important;}
	.tpt-block-768 {display: block;}
	.tpt-left-768 {float: left;}
	.tpt-right-768 {float: right;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .tpt-md-4 {width: 50%;}
	.tpt-md-3 {width: 50%;}
	.tpt-md-2 {width: 50%;}
	.tpt-ml-3 {display: none;}
	.tpt-mr-3 {display: none;}
	.tpt-ml-7 {width: 100%;}
	.tpt-mr-7 {width: 100%;}
	.tpt-none-1024 {display: none;}
	.tpt-block-1024 {display: block !important;}
	.tpt-left-1024 {float: left;}
	.tpt-right-1024 {float: right;}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .tpt-md-4 {width: 33.33333333%;}
	.tpt-md-3 {width: 33.33333333%;}
	.tpt-md-2 {width: 50%;}
	.tpt-ml-3 {width: 30%;float: left;}
	.tpt-mr-3 {width: 30%;float: right;}
	.tpt-ml-7 {width: 70%;float: left;}
	.tpt-mr-7 {width: 70%;float: right;}
	.tpt-none-1200 {display: none;}
	.tpt-block-1200 {display: block !important;}
	.tpt-left-1200 {float: left;}
	.tpt-right-1200 {float: right;}
}

@media only screen and (min-width: 1200px) {
    .tpt-md-4 {width: 25%;}
	.tpt-md-3 {width: 33.33333333%;}
	.tpt-md-2 {width: 50%;}
    .tpt-ml-3 {width: 30%;float: left;}
	.tpt-mr-3 {width: 30%;float: right;}
	.tpt-ml-7 {width: 70%;float: left;}
	.tpt-mr-7 {width: 70%;float: right;}
    .tpt-wp {width: 1200px;margin: 0 auto;}
	.tpt-none-1920 {display: none;}
	.tpt-block-1920 {display: block !important;}
	.tpt-left-1920 {float: left;}
	.tpt-right-1920 {float: right;}
}
/*NET*/

/*赞助*/
#zanzhus{width:450px;height:25pc}
#zanzhus h2{font-size:1pc;padding:30px 0}
#zanzhus h2,#zanzhus h3{font-weight:100;color:#999;text-align:center}
#zanzhus h3{font-size:9pt;padding:20px 0 0}
#zanzhus .layui-tab-item{width:140px;padding:10px;border:6px solid #ea5f00;margin:0 auto;border-radius:3px;height:140px}
#zanzhus .layui-tab-content{padding:0 0 10px;text-align:center}
#zanzhus .layui-tab-content p{font-size:9pt;font-weight:100;color:#999;line-height:38px}
#zanzhus .layui-tab{margin:0;text-align:none!important}
#zanzhus .layui-tab-title li{line-height:40px;min-width:75pt;padding:0}
#zanzhus .layui-tab-title{border-bottom:0 solid #fff;text-align:center}
#zanzhus .layui-tab-title .layui-this:after{border:0 solid #fff}
#zanzhus .layui-tab-title .layui-this .zanbox{background:url(/template/default/public/img/radio1.jpg)}
#zanzhus .zanbox{width:1pc;height:1pc;background:url(/template/default/public/img/radio2.jpg);display:block;float:left;margin:13px 15px 0}
/*NET*/