<!DOCTYPE html>
<html>
<head>  
<title>{:config('web.WEB_TIT')}</title>
<meta name="keywords" content="{:config('web.WEB_KEY')}">
<meta name="description" content="{:config('web.WEB_DES')}">
{include file="index/header"}
<link rel="stylesheet" href="__HOME__/css/blog.css">
<link rel="stylesheet" href="__HOME__/css/right.css">
<div class="tpt-wp cl">
<div class="tpt-ml-7">
<div class="tpt-con1">
{if condition="config('web.WEB_FTP') neq 0"}
<div class="tpt-banner tpt-none-768 cl">
<div class="layui-carousel" id="banner">
  <div carousel-item>
    {volist name="tptb" id="vo"}
    <div><a target="_blank" href="{$vo.links}"><img src="__UPLO__{$vo.pic}" ></a></div>
	{/volist}
  </div>
</div>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  carousel.render({
    elem: '#banner'
    ,width: '100%'
    ,interval: 4000
    ,arrow: 'always'
  });
});
</script>
</div>
<!-- 在手机页面下 -->
<div class="tpt-banner tpt-none-1024 tpt-none-1200 tpt-none-1920 cl">
<div class="layui-carousel" id="banners">
  <div carousel-item>
    {volist name="tptb" id="vo"}
    <div><a target="_blank" href="{$vo.links}"><img src="__UPLO__{$vo.pic}" style="height: 180px;"></a></div>
	{/volist}
  </div>
</div>
<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  carousel.render({
    elem: '#banners'
    ,width: '100%'
    ,height: '180px'
    ,interval: 4000
    ,arrow: 'always'
  });
});
</script>
</div>
{/if}

{if condition="config('web.WEB_FDZ') neq 0"}
<div class="tpt-dingzhi tpt-none-768 tpt-none-1024 tpt-none-1200 cl">
<h3>顶置推荐</h3>
<ul>
{volist name="tptc" id="vo"}
<li>
<a href="__ROOT__/drschool/{$vo.id}.html">
<img src="{$vo.pic}" alt="{$vo.title}">
</a>
<h2><a href="__ROOT__/drschool/{$vo.id}.html" title="{$vo.title}">{$vo.title}</a></h2>
</li>
{/volist}
</ul>
</div>
{/if}
<div class="tpt-none-768 tpt-none-1024 tpt-none-1200 tpt-bottom"></div>

<ul class="tpt-list">
<h3>最新驾校</h3>
{volist name="tptcs" id="vo"}
<li class="tpt-list-li">
<div class="mod-angle">热</div><a href="__ROOT__/drschool/{$vo.id}.html" class="tpt-list-avatar">
{if condition="$vo.pic neq ''"}	
<img src="{$vo.pic}" alt="{$vo.title}">
{else/}
<img src="__HOME__/img/1.jpg" alt="暂无缩略图">
{/if}
</a>
<h2 class="tpt-tip"><a href="__ROOT__/drschool/{$vo.id}.html">{$vo.title}</a></h2>
<p>
<!-- <span><a href="__ROOT__/home/{$vo.userid}.html"><img src="{$vo.userhead}" alt="{$vo.username}">{$vo.username}</a></span> -->
<span>{$vo.addtime|date="Y-m-d H:i:s",###}</span>
<span class="tpt-list-hint" style="padding-right: 0;"> 
<i class="iconfont" title="人气">&#xe6c0;</i> {$vo.view}</span>
</p>
<div class="tpt-none-768">{$vo.content|mb_substr=0,120,'UTF-8'}...</div>
<p style="padding-top: 0;line-height: 20px;">
<span class="tpt-none-768 tpt-none-1024 tpt-none-1200 y" style="padding-right: 0;"><a href="__ROOT__/area/{$vo.cid}.html">{$vo.name}</a></span>
</p>
<p style="padding-top: 6px;line-height: 20px;">
<span class="tpt-none-1024 tpt-none-1200 tpt-none-1920" style="padding-right: 0;">
	<span style="color: #333;font-size: 12px;">地址：{$vo.address}</span>
  <span class="y"><a href="__ROOT__/area/{$vo.cid}.html">{$vo.name}</a></span>
</span>
</p>
</li>
{/volist}
</ul>
<div class="pages">{$tptcs->render()}</div>
</div>
</div>

<div class="tpt-mr-3">
<div class="tpt-con2">
{include file="school/right"}
</div>
</div>

</div>
{include file="index/footer"}
</body>
</html>