<div class="tpt-footer footer tpt-mat-30 cl">
	<div class="tpt-wp cl">
		<div class="tpt-md-1">
			<div class="tpt-mds">
				<p class="bq">
                    Copyright© 2014-2017
					<span class="pipe">|</span>
                    <a class="banquan" target="_blank" href="{:config('web.WEB_COM')}">Powered by {:config('web.WEB_AUT')}</a>
					<span class="tpt-none-768 tpt-none-1024">
					<span class="pipe">|</span>
					<a href="http://www.miitbeian.gov.cn/" target="_blank">{:config('web.WEB_ICP')}</a>
					<span class="pipe">|</span>
					<a href="http://wpa.qq.com/msgrd?v=3&uin={:config('web.WEB_QQ')}&site=qq&menu=yes" target="_blank">QQ:{:config('web.WEB_QQ')}</a>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>