<div class="tpt-tab cl">
<ul>
<li><a href="__ROOT__/index.php">最新帖子</a></li>
<li><a href="__ROOT__/choice.html">精选帖子</a></li>
<li><a href="__ROOT__/user/index.html">我的帖子</a></li>
</ul>
<form action="__ROOT__/search.html" class="tpt-none-768 layui-form tpt-searchs">
<input placeholder="搜索" type="text" name="ks" value="<?php echo input('ks');?>" required lay-verify="required" autocomplete="off" class="layui-input">
<button lay-submit="" style="cursor: pointer;position: absolute;right: 10px;top: 11px;border: 0px solid #fff;color: #B5B5B5;background: #FFF;" type="submit"><i class="iconfont">&#xe6a4;</i></button>
</form>
<a id="tougao" class="tpt-none-768 layui-btn tpt-adds">发表帖子</a>
</div>