<div class="tpt-stat cl">
<div class="tpt-tsearch cl">
<form action="/search.html">
<input placeholder="搜索" type="text" name="ks" value="" required="" lay-verify="required" autocomplete="off">
<button><i class="iconfont"></i></button>
</form>
</div>
<div class="tpt-stat-list cl">
<ul>
<li><span>{$count}</span>驾校总数</li>
<li style="border-left: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;"><span>{$tptcm}</span>会员总数</li>
<li><span>{$tptch}</span>评论总数</li>
</ul>
</div>
<div class="tpt-grid-org cl">
<h2>欢迎驾校入驻</h2>
<a style="border: 1px solid #5FB878;background-color: #5FB878;color: #FFF;padding: 0 28px;" id="tougao" class="layui-btn">驾校入驻</a>
<a style="border: 1px solid #FF5722;background-color: #FF5722;color: #FFF;padding: 0 28px;" id="zanzhu" class="layui-btn">会员缴费</a>
</div>
</div>
{if condition="$tpten neq null"}
<div class="tpt-sidebar cl">
<h3>报名学员</h3>
<div id="box">
<ul id="cont1">
{volist name="tpten" id="vo"}
<li class="cl"><a href="#"><span>{$vo.uname}</span><span>{$vo.addtime|date="Y-m-d",###}</span><span>{$vo.title}</span></a></li>
{/volist}
</ul>
<ul id="cont2"></ul>
</div>
</div>
{/if}

{if condition="config('web.WEB_FTJ') neq 0"}
<div class="tpt-sidebar cl">
	<h3>热门驾校</h3>
	<ul class="tpt-c cl">
		{volist name="tpthot" id="vo"}
		<li><a href="__ROOT__/drschool/{$vo.id}.html">{$vo.title}</a><span><i class="iconfont" title="人气">&#xe6c0;</i> {$vo.view}<span></li>
		{/volist}
	</ul>
</div>
{/if}

{if condition="config('web.WEB_FJX') neq 0"}
<div class="tpt-sidebar cl">
	<h3>驾考资讯</h3>
	<ul class="tpt-c cl">
	    {volist name="tpte" id="vo"}
		<li><a href="__ROOT__/thread/{$vo.id}.html">{$vo.title}</a><span><i class="iconfont" title="人气">&#xe6c0;</i> {$vo.view}<span></li>
		{/volist}
	</ul>
</div>
{/if}

<script type="text/javascript">
var area = document.getElementById('box');
var cont1 = document.getElementById('cont1');
var cont2 = document.getElementById('cont2');

area.scrollTop = 0;
// 克隆cont1给cont2
cont2.innerHTML= cont1.innerHTML;

function myScroll() {
    if(area.scrollTop >= cont1.scrollHeight) {
        area.scrollTop = 0;
    }else {
        area.scrollTop++;
    }
}

var time = 50;
var interval = setInterval('myScroll()', time);

area.onmouseover = function () {
    clearInterval(interval);
};

area.onmouseout = function () {
    // 继续执行之前的定时器
    interval = setInterval('myScroll()', time);
};
</script>